# A fairly nice (IMO) C/C++ formatting style for VS Code
#     - No hanging braces
#     - 4-space tabs
#     - Long lines
#     - No one-line blocks, ifs, or loops

BasedOnStyle: Google
IndentWidth: 4
ColumnLimit: 0
AllowShortBlocksOnASingleLine: false
AllowShortCaseLabelsOnASingleLine: false
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
